a:hover{
  text-decoration: none;
}   
@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }  
}
@media only screen and (min-width: 1025px) { /* PC */
  .pc-x{
    display: none !important;
  }  
}    
@media (min-width: 1400px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1400px !important;
  }
}   
body{
  font-family: 'Poppins';
  background: #031A2A;
}
header .navbar{
  padding: 20px 72px;   
  height: 80px;  
  background: #031A2A;
  box-shadow: 0px 4px 6px rgba(90, 110, 123, 0.1);
}  
.navbar-brand{
  height: 40px;
}
.theme-sw{
  position: relative;
  padding: 5px;  
  width: 91px;
  height: 38px; 
  background: #FFFFFF;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #111111; 
  text-align: left;
  cursor: pointer;
  line-height: 32px;
}
.theme-sw:after{
  content: "";
  background: url(../images/light.png);
  position: absolute;
  right: 5px;
  height: 28px;
  width: 28px;
} 
.navbar .collapse .navbar-nav li{
  margin-left: 20px;
  margin-right: 20px; 
}
.navbar .collapse .navbar-nav li a{ 
  color: #FFFFFF;
} 
main{
  padding-top: 80px;
  background: url(../images/bg3.png) , url(../images/bg5.png) , url(../images/BG.png);
  background-repeat: no-repeat , no-repeat  , no-repeat !important;
  background-size: 100% auto, 100% auto , 900px auto !important;
  background-position:  top 50% center, bottom -50% center ,top right !important; 
  padding-bottom: 100px;
}
main.main2{
  padding-top: 80px;
  background: url(../images/bg3.png) , url(../images/bg5.png)  ;
  background-repeat: no-repeat , no-repeat !important;
  background-size: 100% auto, 100% auto  !important;
  background-position:  top 50% center, bottom -50% center !important; 
  padding-bottom: 100px;
}
.cover-text{
  padding-top: 220px;
}
.logo-200{
  padding-top: 220px;
}
.cover-text h1{
  position: relative;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px; 
  text-transform: uppercase; 
  color: #FFFFFF; 
  margin-bottom: 30px;
}
.hb::after{
  content: "";
  left: 0;
  position: absolute; 
  width: 80px;
  height: 8px; 
  background: #F89E29;
  top: 70px;
} 
.cover-text p{ 
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;  
  color: #FFFFFF;
  margin-bottom: 24px;
}
.btn{ 
  padding: 10px 36px;
  gap: 10px;  
  height: 50px; 
  background: #F9A22E;
  border-radius: 24px;
  border: none !important;
}
.btn.btn-warning{  
  background: #F9A22E; 
  font-size: 20px;
  line-height: 30px;  
  color: #F7F7F7; 
  font-weight: 700;

}
.text-transform{
  text-transform: uppercase;
} 
.sec1{
  min-height: 100vh;
}
.home-grp{
  padding-top: 100px;
  padding-bottom: 100px;
}
.home-tt{
  padding-top: 100px;
  padding-bottom: 100px;
}
.box-ri{
  padding: 100px 40px;   
  background: linear-gradient(300.3deg, rgba(255, 255, 255, 0.2) -1.3%, rgba(255, 255, 255, 0.05) 100%);
  backdrop-filter: blur(20px); 
  border-radius: 16px; 
}
.box-ri h2{
  position: relative;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px; 
  text-transform: capitalize; 
  color: #F7F7F7;
  margin-bottom: 30px;
}
.box-ri p{
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize; 
  color: #F7F7F7; 
  margin-top: 30px;
}
.box-ri2{
  position: relative;
  padding: 60px 80px;  
  height: 232px; 
  background: linear-gradient(107.28deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%);
  box-shadow: 0px 4px 6px rgba(90, 110, 123, 0.2);
  border-radius: 16px;
}
.box-ri2.bor{
  border: 1px solid #076DCA;
}
.box-ri2.bor{
  padding: 60px 0px;  
}
.box-ri3{
  position: relative; 
  background: linear-gradient(107.28deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%);
  border-radius: 16px;
  margin-top: 80px;
  border: 1px solid #076DCA;
  padding: 60px;
}
.lucky-inv{
  position: absolute;
  right: 0;
  top: 0;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px; 
  height: 50px; 
  padding: 10px 20px;
  background: linear-gradient(96.52deg, #0B5BA3 0%, #268FEE 319.48%);
  font-weight: 700;
  font-size: 20px;
  line-height: 30px; 
  text-align: center;
  text-transform: capitalize; 
  color: #FFFFFF;
}
.box-ri2 h3{
  font-weight: 700;
  font-size: 40px;
  line-height: 60px; 
  text-align: center;
  text-transform: uppercase; 
  color: #FFFFFF;
}
.box-ri2 h5{
  font-weight: 500;
  font-size: 24px;
  line-height: 36px; 
  text-align: center;
  text-transform: capitalize; 
  color: #FFFFFF;
}
.box-work{
  padding-top: 100px;
  padding-bottom: 100px;
}
.box-work h3{
  margin-bottom: 30px;
}
.box-work p{
 margin-bottom: 50px;
} 
.box-work2{
  padding-top: 100px;
  padding-bottom: 100px;
}
.box-work2 h3{
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
  font-size: 40px;
}
.box-work2 p{
 margin-bottom: 50px;
} 
.hbc::after{
  content: "";
  left: auto;
  right: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative; 
  width: 80px;
  height: 8px; 
  background: #F89E29; 
} 
.box-work h3{
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px; 
  text-transform: capitalize; 
  color: #F7F7F7; 
}
.box-work p{
  font-weight: 400;
  font-size: 18px;
  line-height: 27px; 
  text-align: center;
  text-transform: capitalize; 
  color: #F7F7F7;
  margin-bottom: 50px;
}
.app-al{
  padding: 30px 20px; 
  height: 368px; 
  background: linear-gradient(147.04deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%);
  border-radius: 16px;
}
.app-al img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 240px;
  margin-bottom: 24px;
}
.app-al .btn{
  width: 220px; 
  border-radius: 16px;
  border: none;
  max-width: 100%;
}
.news{
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.2)); 
}
.news img{ 
  background: #FFFFFF;
  border-radius: 16px 16px 0px 0px;
  height: 452px; 
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.2));
  object-fit: cover;
  width: 100%;
  height: 200px;
} 
.news .des{ 
  padding: 30px 26px; 
  background: linear-gradient(100.6deg, #0B5BA3 0%, #268FEE 100%);
  border-radius: 0px 0px 16px 16px; 
}
.news .des h4{ 
  font-weight: 700;
  font-size: 24px;
  line-height: 36px; 
  text-transform: capitalize; 
  color: #FFFFFF;
  margin-bottom: 16px;
}
.news .des h6{ 
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize; 
  color: #FFFFFF;
}
footer{
  padding-top: 60px;
  padding-bottom: 150px;
  background: #111111;
  position: relative;
} 
footer .logo3{
  height: 78px;
}
footer h4{
  font-weight: 700;
  font-size: 24px;
  line-height: 36px; 
  text-transform: capitalize; 
  color: #FFFFFF; 
  margin-bottom: 10px; 
} 
footer ul{
  list-style: none;
  padding-left: 0px;
  margin-bottom: 40px;
}
footer ul li{ 
  margin-bottom: 10px;
} 
footer ul li a{
  font-weight: 400;
  font-size: 18px;
  line-height: 27px; 
  text-transform: capitalize; 
  color: #FFFFFF;
  transition: .33s all ease-out; 
}
footer ul li a:hover{ 
  color: #F9A22E;
}
footer h6{ 
  position: absolute;
  bottom: 18px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px; 
  text-align: center;
  text-transform: capitalize; 
  color: rgba(255, 255, 255, 0.5);

}
.navbar-toggler i{
  color: #fff;
}
.lSSlideOuter .lSPager.lSpg > li a{
  width: 16px !important;
  height: 16px !important;
  background: rgba(217, 217, 217, 0.5) !important ;
}
.lSSlideOuter .lSPager.lSpg > li.active a {
  background: #D9D9D9 !important 
} 
 
.box-work2 .lSPager.lSpg{
  display: none !important
}
.box-work2 .lSPager.lSpg{
  margin-top: 30px !important;
}
.box-ri3 h3 {
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  text-transform: capitalize;
  color: #F7F7F7;
}
.invesp{
  padding: 15px 28px;  
  width: 241px;
  height: 223px; 
  background: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(90, 110, 123, 0.2);
  border-radius: 16px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.invesp h5{
  font-weight: 400;
  font-size: 20px;
  line-height: 30px; 
  text-align: center;
  text-transform: capitalize; 
  color: #111111; 
  margin-bottom: 10px;
}
.invesp h2{
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 64px;
  line-height: 96px; 
  text-align: center;
  text-transform: capitalize; 
  color: #111111;  
}
.invesp .btn{
  padding: 10px 25px; 
  width: 100%;
  max-width: 100%;
  height: 47px; 
  background: #F69F2C;
  border-radius: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px; 
  color: #F7F7F7;
} 
.leader-award{
  padding-top: 80px;
  padding-bottom: 80px;
}
.leader-award h3{
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  text-transform: capitalize;
  color: #F7F7F7;
}
.box-bg{
  padding: 24px 70px; 
  position: relative; 
  background: linear-gradient(91.06deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.07) 100%);
  backdrop-filter: blur(20px); 
  border-radius: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.box-bg .text1{
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;  
  text-transform: capitalize; 
  color: #FFFFFF; 
  margin-top: 15px;
  margin-bottom: 15px;
}
.box-bg .text2{
  font-weight: 700;
  font-size: 24px;
  line-height: 36px; 
  text-align: right;
  text-transform: capitalize; 
  color: #FFFFFF; 
  margin-top: 15px;
  margin-bottom: 15px;
}  
.box-bg .text1 span{
  font-weight: 700;
} 
.box-bg .label{
  padding: 0px 10px;  
  height: 36px; 
  background: #F69F2C;
}
.box-buy{
  padding: 56px 78px; 
  background: linear-gradient(107.28deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%);
  backdrop-filter: blur(20px); 
  border-radius: 16px;
  border: 1px solid #268FEE;
  margin-top: 50px;
  margin-bottom: 50px;
}
.box-buy .lucky-inv{
  position: absolute;
  right: 0;
  top: 0;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px; 
  height: 66px; 
  padding: 15px 30px; 
  background: linear-gradient(96.52deg, #0B5BA3 0%, #268FEE 319.48%);
  font-weight: 700;
  font-size: 20px;
  line-height: 30px; 
  text-align: center;
  text-transform: capitalize; 
  color: #FFFFFF;
}
.box-buy .lucky-inv img{
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 36px;
}
.box-buy .form-control{
  padding: 10px 30px 10px 20px; 
  height: 44px;  
  width: calc(100% - 80px);
  border: 1px solid #CECECE;
  border-radius: 16px;
}
.box-buy .form-control{
  padding: 10px 30px 10px 20px; 
  height: 44px;  
  width: calc(100% - 60px);
  border: 1px solid #CECECE;
  border-radius: 16px;
  background-color: transparent;
  color: #fff;
  margin-bottom: 30px;
}
.box-buy .form-control + .btn-max{
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 25px;  
  width: 85px;
  height: 44px;  
  background: #0C5DA6;
  border-radius: 16px; 
}
.box-buy label{ 
  font-weight: 700;
  font-size: 16px;
  line-height: 24px; 
  color: #FFFFFF; 
}
.box-buy .btn-buy{ 
  width: 100%;
  padding: 10px 60px; 
  height: 44px; 
  background: #4AA71C;
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px; 
  text-align: center;
  text-transform: capitalize;  
  color: #FFFFFF;
}
.box-buy .btn-sell{ 
  width: 100%;
  padding: 10px 60px; 
  height: 44px; 
  background: #F69F2C;
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px; 
  text-align: center;
  text-transform: capitalize;  
  color: #FFFFFF;
} 
.box-user-detail{
  padding: 56px 78px; 
  background: linear-gradient(107.28deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%);
  backdrop-filter: blur(20px); 
  border-radius: 16px;
  border: 1px solid #268FEE;
  margin-top: 50px;
  margin-bottom: 50px;
}
.box-user-detail .hr{
  border-top: 1px solid rgba(17, 17, 17, 0.2);
}

.box-user-detail .form-control{
  padding: 10px 30px 10px 20px; 
  height: 44px;  
  width: calc(100% - 80px);
  border: 1px solid #CECECE;
  border-radius: 16px;
}
.box-user-detail .form-control{
  padding: 10px 30px 10px 20px; 
  height: 44px;  
  width: calc(100% - 112px);
  border: 1px solid #CECECE;
  border-radius: 16px;
  background-color: transparent;
  color: #fff;
  margin-bottom: 30px;
}
.box-user-detail .form-control + .btn-max{
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 25px;  
  width: 96px;
  height: 44px;  
  background: #0C5DA6;
  color: #fff;
  border-radius: 16px; 
}
.box-user-detail label{ 
  font-weight: 700;
  font-size: 16px;
  line-height: 24px; 
  color: #FFFFFF; 
} 
.box-user-detail .text1{ 
  font-weight: 500;
  font-size: 20px;
  line-height: 30px; 
  text-transform: capitalize; 
  color: #FFFFFF; 
  margin-top: 8px;
  margin-bottom: 8px;
}
.box-user-detail .text2{ 
  font-weight: 700;
  font-size: 24px;
  line-height: 36px; 
  text-transform: capitalize; 
  color: #FFFFFF; 
  margin-top: 8px;
  margin-bottom: 8px;
}
.box-user-detail .text2 span{ 
  float: right;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px; 
  text-transform: capitalize; 
  color: #FFFFFF;
}
.box-user-detail .table th{ 
  font-weight: 700;
  font-size: 20px;
  line-height: 30px; 
  text-transform: capitalize; 
  color: #FFFFFF;
  border-bottom: 0px; 
  vertical-align: top;
}
.box-user-detail .table th:first-child{  
  border-left: 1px solid #fff;
}
.box-user-detail .table th:last-child{  
  border-right: 1px solid #fff;
}
.box-user-detail .table td{ 
  font-weight: 500;
  font-size: 20px;
  line-height: 30px; 
  text-transform: capitalize; 
  color: #FFFFFF; 
  vertical-align: middle;
} 
.box-user-detail .table td:first-child{  
  border-left: 1px solid #fff;
}
.box-user-detail .table td:last-child{  
  border-right: 1px solid #fff;
}
.box-user-detail .table tr:last-child td{  
  border-bottom: 1px solid #fff;
}
.box-user-detail .btn-success{  
  padding: 10px 25px; 
  height: 44px;  
  background: #4AA71C;
  border-radius: 16px; 
  font-weight: 700;
  font-size: 16px;
  line-height: 24px; 
  text-align: center;
  text-transform: capitalize; 
}
.box-user-detail .btn-wait{  
  padding: 10px 25px; 
  height: 44px;  
  background: #C4CBC3;
  border-radius: 16px; 
  font-weight: 700;
  font-size: 16px;
  line-height: 24px; 
  text-align: center;
  text-transform: capitalize; 
  color: #000;
}
.nav-number{
  list-style: none;
  padding-left: 0px;
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}
.nav-number li{
  border: 1px solid #fff;
  padding: 8px;
  min-width: 25px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px; 
  letter-spacing: -0.24px; 
  color: #FFFFFF;
  text-align: center;
}
.nav-number li:first-child{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.nav-number li:last-child{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.nav-number li.active{
  background-color: #0C5DA6;
}



/* 
#F9A22E
transition: .33s all ease-out;  
font-family: Raleway;
font-family: Satisfy;

*/ 
@media only screen and (max-width: 576px) { /* MOBILE */
  .cover-text {
    padding-top: 70px;
  }
  .cover-text h1 { 
    font-size: 36px;
    line-height: 70px; 
  }
  .btn.btn-warning { 
    font-size: 16px; 
  }
  .logo-200{
    padding-top: 0px;
    height: 255px;
    margin-right: auto;
  }
  main {
    padding-top: 80px;
    background:  url(../images/BG.png);
    background-repeat: no-repeat !important;
    background-size:  500px auto   !important;
    background-position: top 300px right -45% !important;
    padding-bottom: 80px;
  }
  header .navbar {
    padding: 20px 30px;
    height: 80px; 
  }
  .box-ri h2{
    font-size: 24px;
  }
  .hb::after { 
    top: 55px;
  }
  .box-ri {
    padding: 48px 16px; 
  }
  .box-ri2{
    padding: 60px 48px;  
    margin-bottom: 24px;
  }
  .hbc::after{
    top: 20px;
  }
  .box-work h3 { 
    font-size: 24px; 
  }
  .box-work p { 
    font-size: 16px; 
  }
  .app-al{
    margin-bottom: 24px;
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
  }
  .box-work2 h3 { 
    font-size: 24px;
  }
  footer .logo3 {
    margin-bottom: 50px;
  }
  .navbar-collapse.show{
    padding: 20px;
    margin-top: 20px;
    background-color: #031A2A;
    box-shadow: 0px 4px 6px rgba(90, 110, 123, 0.1);
  }
  .navbar .collapse .navbar-nav li a{
    text-align: left;
  }
  .home-grp {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .home-tt {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .box-work {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .box-work2 {
    padding-top: 50px;
    padding-bottom: 50px;
  } 
  .box-ri2 h3{ 
    font-size: 32px; 
  } 
  .box-ri2 h5{ 
    font-size: 20px; 
  } 
  .box-ri3 h3 { 
    font-size: 24px;
    line-height: 52px; 
  }
  .box-ri3 .hbc::after {
    top: 0px;
  }
  .lucky-inv{
    font-size: 16px; 
    border-top-right-radius: 0px;
    border-bottom-right-radius: 16px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    min-width: 260px;
  }
  .box-ri3{
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 50px 16px 50px; 
  }
  .invesp{
    width: 100%;
    margin-bottom: 30px;
  }
  .leader-award h3 { 
    font-size: 32px;
    line-height: 52px; 
  }
  .leader-award .hbc::after {
    top: 0px;
  }
  .box-bg {
    padding: 24px  ; 
  }
  .box-bg .text1{
    white-space: nowrap;
  }
  .leader-award {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .box-user-detail {
    padding: 60px 16px; 
  }
  .box-user-detail .text1 {
    font-weight: 400;
    font-size: 14px; 
  }
  .box-user-detail .text2 { 
    font-size: 16px; 
  }
  .box-user-detail .text2 span{ 
    font-weight: 400;
    font-size: 14px; 
  }
  .box-user-detail .table th { 
    font-size: 14px;
    line-height: 20px; 
  }
  .box-user-detail .btn-success {
    padding: 6px 6px;
    height: 40px; 
    font-weight: 500;
    font-size: 12px; 
  }
  .box-user-detail .btn-wait {
    padding: 2px 6px;
    height: 40px; 
    font-weight: 500;
    font-size: 12px; 
  } 
  .lucky-inv{
    font-size: 16px; 
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 16px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    min-width: 260px;
  }
  .box-buy{
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 70px 16px 50px; 
  }
}
@media only screen and (max-width: 320px) { /* MOBILE */
  .cover-text h1 {
    font-size: 24px;
    line-height: 60px;
  }
  .cover-text p { 
    font-size: 14px;
    line-height: 22px;  
  }
  .logo-200 {
    margin-top: 20px;
    height: 200px;
    margin-right: auto;
  }
  .box-ri h2 { 
    font-size: 24px;
    line-height: 24px; 
  }
  .box-ri2 {
    padding: 30px 8px;
    height: unset;
  }
  .box-ri2 h3{
    font-size: 24px;
  }
  .box-ri2 h5{
    font-size: 16px;
  }
  .box-work h3 { 
    font-size: 40px;
    line-height: 32px; 
    font-size: 24px;
  }
  .box-work p {
    font-size: 14px;
  }
  .news .des {
    padding: 16px  ; 
  }
  .news .des h6 { 
    font-size: 14px; 
  }
  footer .logo3 {
    height: 65px;
  }
  .invesp h2 { 
    font-size: 58px; 
  }
  .leader-award h3 {
    font-size: 24px;
    line-height: 52px;
  }
  .box-bg .text1 { 
    font-size: 14px; 
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .box-bg .text2 { 
    font-size: 14px; 
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .box-buy .lucky-inv { 
    height: 50px;
    padding: 7px 20px; 
    font-size: 20px; 
  }
  .box-buy .lucky-inv img{ 
    height: 30px; 
  }
} 

@media only screen and (min-width: 768px) and (max-width: 1400px) { /* MOBILE */
  .cover-text{
    padding-top: 100px;
  }
  .cover-text h1 { 
    font-size: 36px; 
  }
  .cover-text p { 
    font-size: 16px; 
  }
  main {
    padding-top: 80px;
    background:  url(../images/BG.png);
    background-repeat: no-repeat !important;
    background-size:  500px auto   !important;
    background-position: top 0px right -30% !important;
    padding-bottom: 80px;
  }
  .sec1 {
    min-height: unset;
    padding-top: 0px;
    padding-bottom: 50px;
  }
  .box-ri {
    padding: 18px 16px; 
  }
  .box-ri .hb::after{
    top: 98px;
  }
  .box-ri h2{
    font-size: 32px;
    line-height: 45px;
  }
  .home-grp {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .home-tt {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .box-work {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .box-work2 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .box-ri2{
    padding: 60px 30px;
  }
  .box-ri2 h3{
    font-size: 24px;
  }
  .box-ri2 h5{
    font-size: 16px;
  }
  .news {
    max-width: 320px;
  }
  .box-ri2 h3 {
    font-size: 20px;
  }
}