a:hover{
  text-decoration: none;
}   
@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }  
}
@media only screen and (min-width: 1025px) { /* PC */
  .pc-x{
    display: none !important;
  }  
}    
@media (min-width: 1400px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1400px !important;
  }
}   
body{
  font-family: 'Poppins';
  background: #031A2A;
}
header .navbar{
  padding: 20px 72px;   
  height: 80px;  
  background: #031A2A;
  box-shadow: 0px 4px 6px rgba(90, 110, 123, 0.1);
}  
.navbar-brand{
  height: 40px;
}
.theme-sw{
  position: relative;
  padding: 5px;  
  width: 91px;
  height: 38px; 
  background: #FFFFFF;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #111111; 
  text-align: left;
  cursor: pointer;
  line-height: 32px;
}
.theme-sw:after{
  content: "";
  background: url(../images/light.png);
  position: absolute;
  right: 5px;
  height: 28px;
  width: 28px;
} 
.navbar .collapse .navbar-nav li{
  margin-left: 20px;
  margin-right: 20px; 
}
.navbar .collapse .navbar-nav li a{ 
  color: #FFFFFF;
} 
main{
  padding-top: 80px;
  background: url(../images/bg3.png) , url(../images/bg5.png) , url(../images/BG.png);
  background-repeat: no-repeat , no-repeat  , no-repeat !important;
  background-size: 100% auto, 100% auto , 900px auto !important;
  background-position:  top 50% center, bottom -50% center ,top right !important; 
  padding-bottom: 100px;
}
.cover-text{
  padding-top: 220px;
}
.logo-200{
  padding-top: 220px;
}
.cover-text h1{
  position: relative;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px; 
  text-transform: uppercase; 
  color: #FFFFFF; 
  margin-bottom: 30px;
}
.hb::after{
  content: "";
  left: 0;
  position: absolute; 
  width: 80px;
  height: 8px; 
  background: #F89E29;
  top: 70px;
} 
.cover-text p{ 
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;  
  color: #FFFFFF;
  margin-bottom: 24px;
}
.btn{ 
  padding: 10px 36px;
  gap: 10px;  
  height: 50px; 
  background: #F9A22E;
  border-radius: 24px;
  border: none !important;
}
.btn.btn-warning{  
  background: #F9A22E; 
  font-size: 20px;
  line-height: 30px;  
  color: #F7F7F7; 
  font-weight: 700;

}
.text-transform{
  text-transform: uppercase;
} 
.sec1{
  min-height: 100vh;
}
.home-grp{
  padding-top: 100px;
  padding-bottom: 100px;
}
.home-tt{
  padding-top: 100px;
  padding-bottom: 100px;
}
.box-ri{
  padding: 100px 40px;   
  background: linear-gradient(300.3deg, rgba(255, 255, 255, 0.2) -1.3%, rgba(255, 255, 255, 0.05) 100%);
  backdrop-filter: blur(20px); 
  border-radius: 16px; 
}
.box-ri h2{
  position: relative;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px; 
  text-transform: capitalize; 
  color: #F7F7F7;
  margin-bottom: 30px;
}
.box-ri p{
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize; 
  color: #F7F7F7; 
  margin-top: 30px;
}
.box-ri2{
  position: relative;
  padding: 60px 80px;  
  height: 232px; 
  background: linear-gradient(107.28deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%);
  box-shadow: 0px 4px 6px rgba(90, 110, 123, 0.2);
  border-radius: 16px;
}
.box-ri2 h3{
  font-weight: 700;
  font-size: 40px;
  line-height: 60px; 
  text-align: center;
  text-transform: uppercase; 
  color: #FFFFFF;
}
.box-ri2 h5{
  font-weight: 500;
  font-size: 24px;
  line-height: 36px; 
  text-align: center;
  text-transform: capitalize; 
  color: #FFFFFF;
}
.box-work{
  padding-top: 100px;
  padding-bottom: 100px;
}
.box-work h3{
  margin-bottom: 30px;
}
.box-work p{
 margin-bottom: 50px;
} 
.box-work2{
  padding-top: 100px;
  padding-bottom: 100px;
}
.box-work2 h3{
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
  font-size: 40px;
}
.box-work2 p{
 margin-bottom: 50px;
} 
.hbc::after{
  content: "";
  left: auto;
  right: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative; 
  width: 80px;
  height: 8px; 
  background: #F89E29; 
} 
.box-work h3{
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px; 
  text-transform: capitalize; 
  color: #F7F7F7; 
}
.box-work p{
  font-weight: 400;
  font-size: 18px;
  line-height: 27px; 
  text-align: center;
  text-transform: capitalize; 
  color: #F7F7F7;
  margin-bottom: 50px;
}
.app-al{
  padding: 30px 20px; 
  height: 368px; 
  background: linear-gradient(147.04deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%);
  border-radius: 16px;
}
.app-al img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 240px;
  margin-bottom: 24px;
}
.app-al .btn{
  width: 220px; 
  border-radius: 16px;
  border: none;
}
.news{
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.2)); 
}
.news img{ 
  background: #FFFFFF;
  border-radius: 16px 16px 0px 0px;
  height: 452px; 
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.2));
  object-fit: cover;
  width: 100%;
  height: 200px;
} 
.news .des{ 
  padding: 30px 26px; 
  background: linear-gradient(100.6deg, #0B5BA3 0%, #268FEE 100%);
  border-radius: 0px 0px 16px 16px; 
}
.news .des h4{ 
  font-weight: 700;
  font-size: 24px;
  line-height: 36px; 
  text-transform: capitalize; 
  color: #FFFFFF;
  margin-bottom: 16px;
}
.news .des h6{ 
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize; 
  color: #FFFFFF;
}
footer{
  padding-top: 60px;
  padding-bottom: 150px;
  background: #111111;
  position: relative;
} 
footer .logo3{
  height: 78px;
}
footer h4{
  font-weight: 700;
  font-size: 24px;
  line-height: 36px; 
  text-transform: capitalize; 
  color: #FFFFFF; 
  margin-bottom: 10px; 
} 
footer ul{
  list-style: none;
  padding-left: 0px;
  margin-bottom: 40px;
}
footer ul li{ 
  margin-bottom: 10px;
} 
footer ul li a{
  font-weight: 400;
  font-size: 18px;
  line-height: 27px; 
  text-transform: capitalize; 
  color: #FFFFFF;
  transition: .33s all ease-out; 
}
footer ul li a:hover{ 
  color: #F9A22E;
}
footer h6{ 
  position: absolute;
  bottom: 18px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px; 
  text-align: center;
  text-transform: capitalize; 
  color: rgba(255, 255, 255, 0.5);

}
.navbar-toggler i{
  color: #fff;
}

 

/* 
#F9A22E
transition: .33s all ease-out;  
font-family: Raleway;
font-family: Satisfy;

*/ 
@media only screen and (max-width: 576px) { /* MOBILE */
  .cover-text {
    padding-top: 70px;
  }
  .cover-text h1 { 
    font-size: 36px;
    line-height: 70px; 
  }
  .btn.btn-warning { 
    font-size: 16px; 
  }
  .logo-200{
    padding-top: 0px;
    height: 255px;
    margin-right: auto;
  }
  main {
    padding-top: 80px;
    background:  url(../images/BG.png);
    background-repeat: no-repeat !important;
    background-size:  500px auto   !important;
    background-position: top 300px right -45% !important;
    padding-bottom: 80px;
  }
  header .navbar {
    padding: 20px 30px;
    height: 80px; 
  }
  .box-ri h2{
    font-size: 24px;
  }
  .hb::after { 
    top: 55px;
  }
  .box-ri {
    padding: 48px 16px; 
  }
  .box-ri2{
    padding: 60px 48px;  
    margin-bottom: 24px;
  }
  .hbc::after{
    top: 20px;
  }
  .box-work h3 { 
    font-size: 24px; 
  }
  .box-work p { 
    font-size: 16px; 
  }
  .app-al{
    margin-bottom: 24px;
  }
  .box-work2 h3 { 
    font-size: 24px;
  }
  footer .logo3 {
    margin-bottom: 50px;
  }
  .navbar-collapse.show{
    padding: 20px;
    margin-top: 20px;
    background-color: #031A2A;
    box-shadow: 0px 4px 6px rgba(90, 110, 123, 0.1);
  }
  .navbar .collapse .navbar-nav li a{
    text-align: left;
  }
  .home-grp {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .home-tt {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .box-work {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .box-work2 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}


@media only screen and (min-width: 768px) and (max-width: 1400px) { /* MOBILE */
 

}