
.theme-white header .navbar{ 
  background: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(90, 110, 123, 0.1);
} 
.theme-sw:after{
  content: "";
  background: url(../images/light.png);
  position: absolute;
  right: 5px;
  height: 28px;
  width: 28px;
} 
.theme-white .theme-sw{ 
  background: #111111; 
  color: #fff;  
} 
.theme-white  .theme-sw:after{ 
  background: url(../images/dark.png); 
} 
.theme-white .navbar .collapse .navbar-nav li a{ 
  color: #000;
} 
.theme-white .navbar .collapse .navbar-nav li.active a{ 
  color: #F9A22E;
} 
.theme-white main{   
  padding-top: 80px;
  background: url(../images/bg3.png) , url(../images/bg5.png) , url(../images/BG.png) , #fff;
  background-repeat: no-repeat , no-repeat  , no-repeat !important;
  background-size: 100% auto, 100% auto , 900px auto !important;
  background-position:  top 50% center, bottom -50% center ,top right !important; 
  padding-bottom: 100px;
} 
.theme-white h1{
  color: #111111;
}
.theme-white p{
  color: #111111;
}
.theme-white .sec1 .btn.btn-warning{  
  background: #1D4094;   
}
.theme-white .home-grp p {
  color: #fff;
}
.theme-white .home-grp{
  background: linear-gradient(98.79deg, #0C5BA4 4.31%, #278FEE 96.35%);
  border-top: 5px solid #F69F2C;
}
.theme-white .app-al{
  box-shadow: 0px 4px 6px rgba(90, 110, 123, 0.2);
}
.theme-white .box-ri2{
  border: 2px solid #076DCA; 
}
.theme-white  .box-ri2 h3 { 
  color: #000;
}
.theme-white  .box-ri2 h5 { 
  color: #000;
}
.theme-white .box-work{
  background: linear-gradient(98.79deg, #0C5BA4 4.31%, #278FEE 96.35%); 
}
.theme-white .box-work p {
  color: #fff;
}
.theme-white  .navbar-toggler i{
  color: #000;
}


.theme-white main.main2{
  padding-top: 80px;
  background: url(../images/bg3.png) , url(../images/bg3.png) , #fff !important ;
  background-repeat: no-repeat , no-repeat !important;
  background-size: 100% auto, 100% auto  !important;
  background-position:  top 60% center, bottom -20%  center !important; 
  padding-bottom: 100px;
}
.theme-white .box-ri3{
  border: 1px solid #0C5BA4 !important; 
}
.theme-white .box-ri3 h3{
  color: #000 !important;
} 
.theme-white .leader-award h3{
  color: #000 !important;
} 
.theme-white .leader-award .text1{
  color: #000;
}
.theme-white .leader-award .text2{
  color: #000;
}
.theme-white .leader-bg{
  background: linear-gradient(118.65deg, #0B5BA3 0%, #268FEE 100%);
}
.theme-white .leader-bg h3{
  color: #fff !important;
}
.theme-white .leader-award.leader-bg .text1{
  color: #fff;
}
.theme-white .leader-award.leader-bg .text2{
  color: #fff;
}
.theme-white .box-user-detail label{
  color: #000 !important;
}
.theme-white .box-user-detail input{
  color: #000 !important;
}
.theme-white .box-user-detail .table th{
  color: #000 !important;
  border-top: 1px solid #000;
} 
.theme-white .box-user-detail .table td{
  color: #000 !important;
  border-top: 1px solid #000;
}  

.theme-white .box-user-detail .table td:first-child{  
  border-left: 1px solid #000;
}
.theme-white .box-user-detail .table td:last-child{  
  border-right: 1px solid #000;
}
.theme-white .box-user-detail .table tr:last-child td{  
  border-bottom: 1px solid #000;
}

.theme-white .box-user-detail .table th:first-child{  
  border-left: 1px solid #000;
}
.theme-white .box-user-detail .table th:last-child{  
  border-right: 1px solid #000;
}
.theme-white .box-buy label{
  color: #000 !important;
}
.theme-white .box-buy input{
  color: #000 !important;
}
.theme-white .nav-number li { 
  border: 1px solid #DFE2E6;
  color: #0C5DA6;
} 
.theme-white .nav-number li.active {  
  color: #fff;
}
.theme-white .box-user-detail { 
  background: linear-gradient(107.28deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.1) 100%); 
}



@media only screen and (max-width: 576px) { /* MOBILE */ 
  .theme-white main {
    padding-top: 80px;
    background:  url(../images/BG.png) , #fff;
    background-repeat: no-repeat !important;
    background-size:  500px auto   !important;
    background-position: top 300px right -45% !important;
    padding-bottom: 80px;
  }
  .theme-white .navbar-collapse.show{
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(90, 110, 123, 0.1);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1400px) { /* MOBILE */ 
  .theme-white main {
    padding-top: 80px;
    background:  url(../images/BG.png) , #fff;
    background-repeat: no-repeat !important;
    background-size:  500px auto   !important;
    background-position: top 0px right -30% !important;
    padding-bottom: 80px;
  }
}